/* Import Tailwind CSS */
@import "tailwindcss";

/* Spotify Font Faces */


@font-face {
  font-family: Duhit;
  src: url("/public/fonts/Duhit-Regular.otf");
}

@font-face {
  font-family: Oblata;
  src: url("/public/fonts/OblataDisplayRegular-Zp8o8.otf");
}

@theme {
  --font-Duhit: Duhit, "sans-serif";
  --font-Oblata: Oblata, "sans-serif";
}
/* Root Variables */
/* :root {
  --spotify-green: #1db954;
  --spotify-black: #191414;
  
} */

/* Global Styles
body {
  font-family: "Circular", -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: var(--spotify-black);
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
